$primary-color: #0B0C10;
$secund-color: #00070d;
$rectangle-box-shadow: inset 0 0 0 0px rgb(255, 255, 255);
$rectangle-border: 1px solid rgba(255, 255, 255, 0.15);
$rectangle-background-color: rgba(11, 12, 16, 0.85);
$rectangle-border-radius: 5px;
$small-rectangle-background-color: rgba(0, 0, 0, 0.5);
$trigger-mobile-version-limit: 1000px;

html {
  background-color: $primary-color;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

[appAppearOnScroll] {
  opacity: 0;
}

.in-view {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 0 50px;
}


@media (max-width: $trigger-mobile-version-limit) {
  app-top-banner {
    display: none;
  }
}

@media (min-width: $trigger-mobile-version-limit) {
  app-hamburger {
    display: none;
  }
}

::ng-deep .mat-mdc-tooltip-surface {
  background-color: $secund-color !important;
  font-family: 'Poppins' !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-select-value-text {
  color: white !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: $secund-color !important;
}

::ng-deep .mat-mdc-option {
  color: white !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mdc-button__label {
  color: white;
}

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-label-text-color: white;
  --mdc-filled-text-field-input-text-color: white;
  --mdc-filled-text-field-input-text-placeholder-color: grey;
  --mdc-filled-text-field-focus-label-text-color: white;
  --mdc-filled-text-field-hover-label-text-color: white;

  --mdc-filled-text-field-container-color: rgba(0, 0, 0, 0.5);
  color: white
}