$rectangle-border-radius: 5px;
$trigger-mobile-version-limit: 1000px;

:root {
  --primary-color: #0B0C10;
  --background: rgba(11, 12, 16, 0.85);

  --background-color: white;
  --white-in-dark-primary-color-otherwise: #0B0C10;
  --small-rectangle-background-color: rgba(0, 0, 0, 0.4);
  --rectangle-border: 1px solid rgba(11, 12, 16, 0.6);
  --filter: invert(1);
  --border-profile-image: 2px solid rgba(11, 12, 16, 0.7);
}

.theme-dark {
  --background-color: #0B0C10;
  --white-in-dark-primary-color-otherwise: white;
  --small-rectangle-background-color: rgba(0, 0, 0, 0.5);
  --rectangle-border: 1px solid rgba(255, 255, 255, 0.15);
  --filter: invert(0);
  --border-profile-image: 2px solid rgba(255, 255, 255, 0.7);
}

body {
  background-color: var(--background-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.content {
  flex: 1;
}

[appAppearOnScroll] {
  opacity: 0;
}

.in-view {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@media (max-width: $trigger-mobile-version-limit) {
  app-top-banner {
    display: none;
  }
}

@media (min-width: $trigger-mobile-version-limit) {
  app-hamburger {
    display: none;
  }
}

::ng-deep .mat-mdc-tooltip-surface {
  background-color: var(--primary-color) !important;
  font-family: 'Poppins' !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-select-value-text {
  color: white !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--primary-color) !important;
}

::ng-deep .mat-mdc-option {
  color: white !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mdc-button__label {
  color: white;
}

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-label-text-color: white;
  --mdc-filled-text-field-input-text-color: white;
  --mdc-filled-text-field-input-text-placeholder-color: grey;
  --mdc-filled-text-field-focus-label-text-color: white;
  --mdc-filled-text-field-hover-label-text-color: white;

  --mdc-filled-text-field-container-color: rgba(0, 0, 0, 0.5);
  color: white
}