@import '../../app.component.scss';

.underline-on-hover {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.underline-on-hover:hover::after {
  transform: scaleX(1);
}

.dropdown-content {
  position: absolute;
  min-width: 150px;
  cursor: pointer;
  border-radius: 5px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

a {
  background-color: white;
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

a:hover {
  background-color: var(--background);
  color: white;
}

img {
  margin-left: 8px;
  height: 12px;
  width: 12px;
  filter: invert(1);
}