@import '../../app.component.scss';


.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rectangle {
  width: 80%;

  flex-direction: column;
}

.container {
  background-color: $rectangle-background-color;
  border: $rectangle-border;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}

.chart {
  padding: 50px;
}

p {
  font-size: 20px;
  color: white;
  margin-top: 60px;
  margin-bottom: -10px;
}