

<div >
    <div style="margin-top: 120px;" class="statistics">
        <div class="rectangle">
            <div class="container">
                <p [hidden]="loading">{{ 'statistics-page.distribution-visitors' | translate }}</p>
                <mat-spinner color="accent" [strokeWidth]="5"></mat-spinner>
                <canvas class="chart" #doughnutCanvas [hidden]="loading"></canvas>
            </div>
        </div>
    </div>
    
    <div style="margin-top: 40px; margin-bottom: 60px;" class="statistics" appAppearOnScroll>
        <div class="rectangle">
            <div class="container">
                <p [hidden]="loading">{{ 'statistics-page.number-visitors' | translate }}</p>
                <canvas class="chart" #barCanvas></canvas>
            </div>
        </div>
    </div>
</div>


