@import '../../app.component.scss';

@media (min-width: $trigger-mobile-version-limit) {
  .statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .first {
    margin-top: 120px;
  }

  .secund {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .rectangle {
    width: 80%;
    flex-direction: column;
  }

  .container {
    background-color: $rectangle-background-color;
    border: $rectangle-border;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
  }

  .chart {
    padding: 50px;
  }

  p {
    font-size: 20px;
    color: white;
    margin-top: 60px;
    margin-bottom: -10px;
  }
}

@media (max-width: $trigger-mobile-version-limit) {
  .first {
    margin-top: 80px;
  }

  .secund {
    margin-top: 50px;
    margin-bottom: 85px;
  }

  .statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    background-color: $rectangle-background-color;
    border: $rectangle-border;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
  }

  .rectangle {
    width: 90%;
    flex-direction: column;
  }

  .chart {
    padding: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 17px;
    color: white;
  }
}