@import '../../app.component.scss';

.small-rectangle {
  display: inline-block;
  padding: 20px;
  border-radius: $rectangle-border-radius;
  border: $rectangle-border;
  margin: 20px;
}

img {
  height: 70px;
  margin: 5px;
  border-radius: 5px;
  margin-bottom: 0;
}

@media (min-width: $trigger-mobile-version-limit) {
  .small-rectangle:hover {
    transform: scale(1.05);
  }
}

@media (max-width: $trigger-mobile-version-limit) {

  .small-rectangle {
    display: inline-block;
    padding: 1px;
    padding-bottom: 0;
    border-radius: $rectangle-border-radius;
    border: $rectangle-border;
    margin: 5px;
    text-align: center;
  }

  img {
    height: 40px;
    border-radius: 5px;
    margin-bottom: 0;
  }


}