@import '../../app.component.scss';

.rectangle {
  width: 80%;
  margin: auto;
  border: var(--rectangle-border);
  background-color: var(--computer-background);
  margin-bottom: 20px;
  color: white;
  text-align: justify;
  white-space: pre-wrap;
  border-radius: $rectangle-border-radius;
}

.top-section {
  display: flexbox;
  text-align: center;
}

.half {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 30px;
}

.title {
  font-size: 20px;
  color: white;
}

@media (max-width: $trigger-mobile-version-limit) {
  .rectangle {
    width: 90%;
    background-color: var(--mobile-background);
  }

  .title {
    font-size: 17px;
    text-align: center;
  }

  p {
    font-size: 13px;
    text-align: justify;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .half {
    width: 100%;
    display: inline-block;
    padding: 12px;
  }
}