@import '../../app.component.scss';

#sidebarMenu {
    position: fixed;
    overflow: none;
    width: 100%;
    z-index: 3;
    transform: translateY(-200%);
    margin-top: 5px;
}

.main-content-wrapper a {
    height: 40px;
    display: block;
    text-align: center;
    padding-top: 15px;
    color: white;
}

#sidebarMenu::-webkit-scrollbar {
    width: 12px;
    background-color: var(--primary-color);
}

#sidebarMenu::-webkit-scrollbar-track {
    border-radius: 10px;
}

#sidebarMenu::-webkit-scrollbar-thumb {
    height: 50px;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(203, 3, 3, 0.1);
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translatey(0);
    top: 50px
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    filter: invert(1);
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 20px;
    display: none;
    transform: translateY(-200%);
    transition: transform 1s ease-out;
}

.sidebarIconToggle.show {
    transform: translateY(0);
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.bande-transparente {
    height: 55px;
    width: 100%;
    background: var(--background);
    position: fixed;
    z-index: 3;
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}

.bande-transparente.show {
    transform: translateY(0);
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

input[type=checkbox]:checked~.bande-transparente {
    height: calc(100% - 50px);
}

.sidebarIconToggle {
    display: block;
}

[hidden] {
    opacity: 0;
    visibility: hidden;
}