@import '../../app.component.scss';

#sidebarMenu {
    height: 100%;
    position: fixed;
    overflow: none;
    width: 100%;
    z-index: 1;
    transform: translateY(-100%);
    margin-top: 5px;
}

.main-content-wrapper a {
    width: 99%;
    height: 40px;
    display: block;
    background: $primary-color;
    text-align: center;
    padding-top: 15px;
    color: white;
    border-radius: 1px;
}

#sidebarMenu::-webkit-scrollbar {
    width: 12px;
    background-color: $primary-color;
}

#sidebarMenu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(232, 30, 30, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#sidebarMenu::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(15, 188, 236, 0.3);
    border-radius: 10px;
    background: #0000002e;
    height: 50px;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(203, 3, 3, 0.1);
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translatey(0);
    top: 50px
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    filter: invert(1);
    transition: all 0.3s;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    height: 40px;
    width: 40px;
    left: 20px;
    top: 20px;
    display: none;
    transform: translateY(-100%);
    transition: transform 1s ease-out;
}

.sidebarIconToggle.show {
    transform: translateY(0);
  }

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.bande-transparente {
    height: 55px;
    width: 100%;
    background-color: $rectangle-background-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

input[type=checkbox]:checked ~ .bande-transparente {
    height: 100%;
}

.sidebarIconToggle {
    display: block;
}



