@import '../../app.component.scss';

.experiences {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.images-container {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 25px;
  align-items: center;
}

.images-container img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.images-container img:hover {
  transform: scale(1.25);
}

.iframe-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  width: 75%;
  justify-content: space-between;
  gap: 30px;
}

.iframe-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: $rectangle-border-radius;
}

.esir {
  width: 100px;
}

.imageet {
  width: 60px;
  filter: invert(1);
}
.soprasteria {
  width: 70px;

}
.dga {
  width: 60px;
}

.dirisi {
  width: 110px;
  filter: invert(1);
}

@media (max-width: $trigger-mobile-version-limit) {
  
  .images-container {
    margin-bottom: 10px;
    width: 90vw;
  }

  .experiences {
    margin-top: 40px;
  }

  .esir {
    width: 55px;
  }
  
  .imageet {
    width: 40px;
    filter: invert(1);
  }

  .soprasteria {
    width: 45px;
  }

  .dga {
    width: 35px;
  }
  
  .dirisi {
    width: 60px;
    filter: invert(1);
  }

  .iframe-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }

}