@import '../../app.component.scss';

.experiences {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.images-container {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 25px;
  align-items: center;
}

.images-container img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.iframe-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  width: 75%;
  justify-content: space-between;
  gap: 30px;
}

.iframe-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: $rectangle-border-radius;
}

.esir {
  width: 100px;
  filter: var(--filter);
}

.imageet {
  width: 60px;
  filter: invert(0.5);
}

.soprasteria {
  width: 70px;
}

.dga {
  width: 60px;
}

.dirisi {
  width: 110px;
  filter: invert(0.3);
}

@media (min-width: $trigger-mobile-version-limit) {
  img:hover {
    transform: scale(1.25);
  }
}

@media (max-width: $trigger-mobile-version-limit) {
  .experiences {
    margin-bottom: 70px;
  }

  .images-container {
    margin-bottom: 15px;
  }

  .experiences {
    margin-top: 40px;
  }

  .esir {
    width: 50px;
  }

  .imageet {
    width: 35px;
    filter: invert(1);
  }

  .soprasteria {
    width: 40px;
  }

  .dga {
    width: 30px;
  }

  .dirisi {
    width: 50px;
  }

  .iframe-container {
    flex-direction: column;
    width: 90%;
  }
}