@import '../../app.component.scss';

.dialog {
  padding: 35px;
  text-align: center;
}

.text {
  color: var(--primary-color);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
}

::ng-deep .mat-mdc-dialog-surface {
  border: var(--rectangle-border);
  background-color: rgba(255, 255, 255, 0.97);
  width: 85%;
}

@media (max-width: $trigger-mobile-version-limit) {
  ::ng-deep .mat-mdc-dialog-surface {
    border: var(--rectangle-border);
    background-color: rgba(255, 255, 255, 0.97);
    width: 200%;
  }

  .dialog {
    padding: 25px;
  }
}