.skills {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.images-container {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 20px auto;
  gap: 20px;
  align-items: center;
}

.images-container img {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 55px;
  height: auto;
}

.images-container img:hover {
  transform: scale(1.25);
}