<div class="skills" @upsize>

  <div class="images-container">
    <div *ngFor="let techno of technos" class="upsize-item">
      <a (click)="scrollToSection(techno.part)">
        <img matTooltip="{{ techno.label }}" [src]="'assets/img/' + techno.img" [ngClass]="{'white-picture': ['helm.webp', 'ansible.webp', 'cypress.webp'].includes(techno.img)}" />
      </a>
    </div>
  </div>

  <div id="backend">
    <app-card [title]="'skills-page.backend'" [description]="'skills-page.backend-description'"
      [timeline]="backendTimeline" />
  </div>

  <div id="frontend" appAppearOnScroll>
    <app-card [title]="'skills-page.frontend'" [description]="'skills-page.frontend-description'"
      [timeline]="frontendTimeline" />
  </div>

  <div id="devops" appAppearOnScroll>
    <app-card [title]="'skills-page.devops'" [description]="'skills-page.devops-description'"
      [timeline]="devopsTimeline" />
  </div>

  <div id="transverse" appAppearOnScroll>
    <app-card [title]="'skills-page.transverse'" [description]="'skills-page.transverse-description'"
      [timeline]="transverseTimeline" />
  </div>

</div>