@import '../../app.component.scss';

.fixed {
  position: fixed;
}

.bottom-banner {
  z-index: 3;
  width: 100%;
  height: 37px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(+100%);
  transition: transform 1s ease-out;
}

.bottom-banner.show {
  transform: translateY(0);
}

.section {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.image {
  cursor: pointer;
  width: 24px;
}

@media (max-width: $trigger-mobile-version-limit) {
  .bottom-banner {
    height: 50px;
    position: fixed;
    background-color: rgba(11, 12, 16, 0.85);
  }

  .image {
    width: 28px;
  }
}