@import '../../app.component.scss';

.fixed {
  position: fixed;
}

.bottom-banner {
  z-index: 3;
  width: 100%;
  height: 37px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(+100%);
  transition: transform 1s ease-out;
  background-color: var(--computer-background);
}

.bottom-banner.show {
  transform: translateY(0);
}

.section {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.settings {
  filter: invert(1);
}

.bubble {
  position: absolute;
  bottom: 40px;
  left: 20px;
  padding: 10px;
  background-color: var(--computer-background);
  border-radius: 5px;
  color: white;
  border: var(--rectangle-border);
}

.line {
  display: flex;
  align-items: center;
  height: auto;
  line-height: 1;
}

@media (max-width: $trigger-mobile-version-limit) {
  .bottom-banner {
    position: fixed;
    height: 50px;
    background-color: var(--mobile-background);
  }

  img {
    width: 28px;
    height: 28px;
  }

  [hidden] {
    opacity: 0;
    visibility: hidden;
  }

  .bubble {
    font-size: 15px;
    background-color: var(--mobile-background);
    bottom: 60px;
    left: 20px;
  }
}