@import '../../app.component.scss';

.fixed {
  position: fixed;
}

.bottom-banner {
  width: 100%;
  height: 37px;
  background-color: $primary-color;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(+100%);
  transition: transform 1s ease-out;
}

.bottom-banner.show {
  transform: translateY(0);
}

.section {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.image {
  cursor: pointer;
  width: 24px;
}