<div [hidden]="scrolling" class="bottom-banner" [ngClass]="{'fixed': isHomePage}">
    <div class="section">
        <img [matTooltipDisabled]="settingsVisible" [matTooltip]="'settings' | translate" (click)="clickSettings()"
            class="settings" src="assets/img/settings.png">

        <div *ngIf="settingsVisible" class="bubble">
            <div class="line">
                <p>{{'language' | translate}} </p>
                <img (click)="changeLanguage('fr')" class="left" src="assets/img/french.png">
                <img (click)="changeLanguage('en')" class="left" src="assets/img/english.png">
                <img (click)="changeLanguage('sp')" class="left" src="assets/img/spanish.png">
            </div>
            <div class="line">
                <p>{{'dark-theme' | translate}} </p>
                <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme()" class="left" />
            </div>
        </div>
    </div>

    <div class="section">
        <img [matTooltip]="'resume' | translate" (click)="downloadCV()" class="right" src="assets/img/cv.png"
            style="filter:grayscale(100%);">
        <img matTooltip="Linkedin" (click)="openLink('https://www.linkedin.com/in/julien-maillard-946b74181/')"
            class="right" src="assets/img/linkedin.png">
        <img matTooltip="Github" (click)="openLink('https://github.com/julienmld/resume-website')" class="right"
            src="assets/img/github.png">
        <img matTooltip="Malt" (click)="openLink('https://www.malt.fr/profile/julienmaillard3')" class="right"
            src="assets/img/malt.png">
    </div>
</div>