@import '../../app.component.scss';

.p {
  font-size: 95%;
  line-height: 1.2;
  margin-top: -43px;
  color: white;
}

.h1 {
  font-size: 210%;
  margin-top: -3px;
}

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  text-align: left;
  color: white;
  font-size: 24px;
  margin-left: 40px;
  width: 50%;
  max-width: 1400px;
}

.profile-image {
  border-radius: 50%;
  height: 215px;
  width: 220px;
}

.bottom-right {
  color: white;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.move-up {
  position: relative;
  animation: moveUp 1.1s linear infinite;
  margin-bottom: 22px;
  margin-right: 27px;
}

@keyframes moveUp {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 8px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (max-width: $trigger-mobile-version-limit) {

  .home {
    height: 90vh;
  }

  .content-container {
    margin-top: -100px;
    flex-direction: column;
    text-align: center;
  }

  .profile-image {
    height: 170px;
    width: 170px;
  }

  .text-section {
    width: 90%;
    margin-left: 0;
    text-align: center;
  }

  .p {
    font-size: 15px;
    margin: 0;
  }

  .h1 {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
  }

  .bottom-right {
    display: none;
  }

}