@import '../../app.component.scss';

.p {
  font-size: 95%;
  line-height: 1.2;
  margin-top: -43px;
  color: var(--white-in-dark-primary-color-otherwise);
}

.h1 {
  font-size: 210%;
  margin-top: -3px;
}

.home {
  display: flex;
  justify-content: center;
  height: 100svh;
  position: relative;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  text-align: left;
  color: var(--white-in-dark-primary-color-otherwise);
  font-size: 24px;
  margin-left: 40px;
  width: 50%;
  max-width: 1400px;
}

.profile-image {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  border: var(--border-profile-image);
}

.bottom-right {
  color: var(--white-in-dark-primary-color-otherwise);
  position: absolute;
  bottom: 50px;
  right: 0;
}

.move-up {
  position: relative;
  animation: moveUp 1.1s linear infinite;
  margin-bottom: 22px;
  margin-right: 27px;
}

.finger {
  width: 70px;
  transform: scaleX(-1);
}

@keyframes moveUp {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 8px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (max-width: $trigger-mobile-version-limit) {
  body {
    overflow: hidden;
  }

  .home {
    height: 95svh;
  }

  .content-container {
    margin-top: -10px;
    text-align: center;
    width: 90%;
    flex-direction: column;
  }

  .profile-image {
    height: 45vw;
    width: 45vw;
  }

  .text-section {
    width: 95%;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
  }

  .p {
    font-size: 15px;
    margin: 0;
  }

  .h1 {
    font-size: 17px;
    margin: 0;
  }

  .bottom-right {
    font-size: 15px;
    bottom: 20px;
    right: 8px;
  }

  .finger {
    width: 55px;
  }
}