@import '../../app.component.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  text-align: left;
  color: $secund-color;
  font-size: 24px;
  margin-left: 40px;
  width: 50%;
  max-width: 1400px;
}

.profile-image {
  border-radius: 50%;
  height: 215px;
  width: 220px;
  border: 1.4px solid rgba(0, 0, 0, 0.99);
}

p {
  color: $secund-color;
}

.bottom-right {
  position: absolute;
  color: $secund-color;
  bottom: 50px;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.move-up {
  position: relative;
  animation: moveUp 1.1s linear infinite;
}

@keyframes moveUp {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 8px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.large-icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 0;
}