<div class="home" *ngIf="isVisible">

    <div class="content-container">
        <img [@firstSlideIn]="{ value: '', params: { translateX: isMobile ? '-2vh' : '-10vh' } }" src="assets/img/me.webp" class="profile-image" />
        <div [@firstSlideIn]="{ value: '', params: { translateX: isMobile ? '2vh' : '10vh' } }" class="text-section">
            <h1 class="h1">{{ 'home-page.first-sentence' | translate }}</h1>
            <p class="p">{{ 'home-page.secund-sentence' | translate }}</p>
        </div>
    </div>

    <div @secundSlideIn class="bottom-right">
        <div class="move-up container">
            <p class="text-finger">{{ 'network' | translate }}</p>
            <img src="assets/img/finger.webp" class="finger" />
        </div>
    </div>

</div>