@import '../../app.component.scss';

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.centered-container {
    border: $rectangle-border;
    background-color: $rectangle-background-color;
    border-radius: $rectangle-border-radius;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
}

button {
    background-color: $secund-color;
}

.button-container {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-mdc-text-field-wrapper,
::ng-deep .mdc-floating-label,
::ng-deep .mdc-list-item__primary-text,
::ng-deep .mdc-button__label,
::ng-deep .mat-mdc-select-min-line {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    scrollbar-width: thin;
}

::ng-deep .mat-mdc-text-field-wrapper {
    border: $rectangle-border;
}

::ng-deep .mat-mdc-select-panel {
    scrollbar-width: thin !important;
    scrollbar-color: #333 #888 !important;
}

@media (max-width: $trigger-mobile-version-limit) {

    .contact {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .centered-container {
        width: 90%;
    }
}