@use '@angular/material' as mat;
@include mat.core();
@import 'app/app.component.scss';

html {
  scrollbar-width: thin;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

$custom-primary-palette: (
  50: var(--primary-color),
  100: var(--primary-color),
  200: var(--primary-color),
  300: var(--primary-color),
  400: var(--primary-color),
  500: var(--primary-color),
  699: var(--primary-color),
  700: var(--primary-color),
  800: var(--primary-color),
  900: var(--primary-color),
  contrast: (50: var(--primary-color))
);

$custom-secundary-palette: (
  50: white,
  100: white,
  200: white,
  300: white,
  400: white,
  500: white,
  699: white,
  700: white,
  800: white,
  900: white,
  contrast: (50: white)
);

$myapp-theme-primary: mat.m2-define-palette($custom-primary-palette);
$myapp-theme-accent: mat.m2-define-palette($custom-secundary-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((color: (primary: $myapp-theme-primary,
        accent: $myapp-theme-accent,
        warn: $myapp-theme-warn,
      )));

@include mat.all-component-themes($myapp-theme);

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

app-root {
  position: relative;
}